<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- Doodle Sample -->
  <appSettings>
    <add key="Sample" value="Samples\Doodle.sample" />
    <add key="Rate" value="100" />
    <add key="Debug" value="C:\Temp\Doodle-{0}.bmp" />
  </appSettings>

  <!-- Tiny Sample -->
  <!--
  <appSettings>
    <add key="Sample" value="Samples\Tiny.sample" />
    <add key="Rate" value="80" />
    <add key="Debug" value="C:\Temp\Tiny-{0}.bmp" />
  </appSettings>
  -->
  
</configuration>